function Main.main 10
push constant 15
push constant 225
call SpaceShip.new 2
pop local 0
push constant 20
push constant 122
call Butterfly.new 2
pop local 3
push constant 15
push constant 30
call Bat.new 2
pop local 4
push constant 5
push constant 0
call Fly.new 2
pop local 5
push constant 10
call Array.new 1
pop local 2
push constant 0
pop local 7
push constant 0
not
pop local 9
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push constant 24576
call Memory.peek 1
pop local 6
push local 6
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP1
push local 6
push constant 0
eq
not
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 6
push local 0
call SpaceShip.moveLeft 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE0
push local 6
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
label WHILE_EXP2
push local 6
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 6
push local 0
call SpaceShip.moveRight 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
label IF_FALSE1
push local 6
push constant 32
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 7
push constant 10
lt
push local 9
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 7
push local 2
add
push local 0
call SpaceShip.getCenterX 1
push local 0
call SpaceShip.getY 1
push constant 5
sub
call Bullet.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 7
push constant 1
add
pop local 7
push constant 0
pop local 9
label IF_FALSE3
goto IF_END2
label IF_FALSE2
push constant 0
not
pop local 9
label IF_END2
push local 4
call Bat.move 1
pop temp 0
push local 5
call Fly.move 1
pop temp 0
push local 3
call Butterfly.move 1
pop temp 0
push local 7
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
pop local 8
label WHILE_EXP3
push local 8
push local 7
lt
not
if-goto WHILE_END3
push local 8
push local 2
add
pop pointer 1
push that 0
pop local 1
push local 1
call Bullet.isActive 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 1
call Bullet.move 1
pop temp 0
push local 8
push constant 1
add
pop local 8
goto IF_END5
label IF_FALSE5
push local 1
call Bullet.dispose 1
pop temp 0
push local 7
push constant 1
sub
pop local 7
push local 8
push local 2
add
push local 7
push local 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END5
goto WHILE_EXP3
label WHILE_END3
label IF_FALSE4
push constant 1
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
