function Main.mod 1
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
pop local 0
push local 0
return
function Main.main 14
push constant 15
push constant 225
call SpaceShip.new 2
pop local 0
push constant 20
push constant 122
call Butterfly.new 2
pop local 3
push constant 15
push constant 30
call Bat.new 2
pop local 4
push constant 5
push constant 0
call Fly.new 2
pop local 5
push constant 10
call Array.new 1
pop local 2
push constant 0
pop local 7
push constant 0
not
pop local 9
push constant 0
pop local 11
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push constant 24576
call Memory.peek 1
pop local 6
push local 11
push constant 1
add
pop local 11
push local 6
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Keyboard.keyPressed 0
pop local 6
push local 0
call SpaceShip.moveLeft 1
pop temp 0
label IF_FALSE0
push local 6
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Keyboard.keyPressed 0
pop local 6
push local 0
call SpaceShip.moveRight 1
pop temp 0
label IF_FALSE1
push local 6
push constant 32
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 7
push constant 10
lt
push local 9
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 11
push constant 3
call Main.mod 2
pop local 10
push local 7
push local 2
add
push local 0
call SpaceShip.getCenterX 1
push local 0
call SpaceShip.getY 1
push constant 5
sub
push constant 0
not
call Bullet.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 7
push constant 1
add
pop local 7
push local 10
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push local 7
push local 2
add
push local 3
call Butterfly.getCenterX 1
push local 3
call Butterfly.getY 1
push constant 30
add
push constant 0
call Bullet.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE4
push local 10
push constant 1
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 7
push local 2
add
push local 4
call Bat.getCenterX 1
push local 4
call Bat.getY 1
push constant 30
add
push constant 0
call Bullet.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE5
push local 10
push constant 2
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 7
push local 2
add
push local 5
call Fly.getCenterX 1
push local 5
call Fly.getY 1
push constant 30
add
push constant 0
call Bullet.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE6
push local 7
push constant 1
add
pop local 7
push constant 0
pop local 9
label IF_FALSE3
goto IF_END2
label IF_FALSE2
push constant 0
not
pop local 9
label IF_END2
push local 7
push constant 0
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
pop local 8
label WHILE_EXP1
push local 8
push local 7
lt
not
if-goto WHILE_END1
push local 8
push local 2
add
pop pointer 1
push that 0
pop local 1
push local 1
call Bullet.isActive 1
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push local 1
call Bullet.move 1
pop temp 0
push local 8
push constant 1
add
pop local 8
push local 1
call Bullet.getY 1
push constant 230
gt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 1
call Bullet.getX 1
push constant 16
call Math.divide 2
push constant 2
sub
pop local 12
push local 12
push local 0
call SpaceShip.getX 1
lt
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 12
push constant 4
add
pop local 12
push local 0
call SpaceShip.getX 1
push local 12
lt
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 0
return
label IF_FALSE11
label IF_FALSE10
label IF_FALSE9
goto IF_END8
label IF_FALSE8
push local 1
call Bullet.dispose 1
pop temp 0
push local 7
push constant 1
sub
pop local 7
push local 8
push local 2
add
push local 7
push local 2
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END8
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE7
push local 4
call Bat.move 1
pop temp 0
push local 5
call Fly.move 1
pop temp 0
push local 3
call Butterfly.move 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 13
call Output.printInt 1
pop temp 0
push constant 0
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
